<div class="p-4">
  <div class="mb-8">
    <img src="./assets/images/nisum_logo.png" alt="logo">
  </div>
  <nav class="space-y-2">
    <a routerLink="/dashboard" routerLinkActive="bg-[#2a2f3b] text-gray-300"
       class="flex items-center px-4 py-2 rounded-lg hover:bg-[#2a2f3b] transition-colors text-white">
      <mat-icon class="mr-3">home</mat-icon>
      <span>Dashboard</span>
    </a>
    <a routerLink="/persons" routerLinkActive="bg-[#2a2f3b] text-gray-300"
       class="flex items-center px-4 py-2 rounded-lg hover:bg-[#2a2f3b] transition-colors text-white">
      <mat-icon class="mr-3">people</mat-icon>
      <span>Personas</span>
    </a>
  </nav>
</div>
